In [61]:
!pip install folium

Requirement already satisfied: folium in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: branca>=0.3.0 in /opt/conda/lib/python3.6/site-packages (from folium)
Requirement already satisfied: requests in /opt/conda/lib/python3.6/site-packages (from folium)
Requirement already satisfied: numpy in /opt/conda/lib/python3.6/site-packages (from folium)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from folium)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.6/site-packages (from folium)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: idna<2.8,>=2.5 in /opt/conda/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: urllib3<1.24,>=1.21.1 in /opt/conda/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.6/site-packages (from requests->folium)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.6/site-packages (from jinja2->folium)
You are using pip version 9.0.3, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [62]:
import folium
import json
import os
import requests
import pandas
import numpy as np
from folium.plugins import HeatMap
import matplotlib.pyplot as plt
from sklearn import linear_model

In [63]:
odata = pd.read_csv("Most-Recent-Cohorts-All-Data-Elements.csv")

odata.head()

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6,9,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1008,1009,1010,1011,1014,1015,1016,1017,1018,1019,1021,1022,1023,1027,1028,1029,1030,1031,1032,1034,1035,1036,1040,1041,1042,1043,1044,1045,1046,1047,1048,1049,1050,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1065,1066,1067,1068,1069,1070,1071,1073,1074,1075,1076,1078,1079,1080,1081,1082,1083,1084,1086,1087,1088,1089,1091,1092,1093,1094,1095,1096,1097,1099,1100,1101,1102,1104,1105,1106,1107,1108,1109,1110,1112,1113,1114,1115,1118,1119,1121,1122,1123,1125,1127,1128,1131,1132,1134,1135,1136,1138,1140,1141,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1157,1158,1159,1160,1161,1162,1163,1164,1165,1166,1167,1170,1171,1172,1173,1174,1175,1177,1178,1179,1180,1183,1184,1185,1186,1187,1188,1190,1192,1196,1199,1200,1201,1209,1212,1213,1214,1222,1223,1224,1225,1226,1227,1235,1236,1237,1238,1239,1240,1248,1249,1250,1251,1252,1253,1257,1261,1262,1263,1264,1265,1266,1270,1274,1275,1276,1277,1278,1279,1281,1283,1287,1288,1289,1290,1291,1292,1294,1296,1303,1309,1316,1322,1326,1327,1328,1329,1330,1331,1333,1335,1339,1340,1341,1342,1343,1344,1346,1348,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1407,1408,1431,1432,1433,1475,1476,1477,1478,1479,1480,1481,1482,1483,1484,1485,1486,1487,1488,1489,1490,1491,1492,1493,1494,1495,1496,1497,1498,1499,1500,1501,1502,1503,1504,1517,1518,1519,1529,1530,1531,1532,1534,1535,1537,1538,1539,1540,1542,1575,1576,1577,1578,1579,1580,1581,1582,1583,1584,1585,1586,1587,1588,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598,1599,1600,1601,1602,1606,1608,1610,1611,1614,1615,1616,1619,1620,1621,1622,1623,1624,1625,1626,1627,1628,1629,1636,1637,1638,1639,1640,1641,1642,1643,1644,1645,1646,1647,1648,1649,1650,1651,1652,1653,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663,1664,1665,1666,1667,1668,1669,1670,1671,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682,1683,1684,1685,1686,1687,1688,1689,1690,1691,1692,1693,1694,1695,1696,1697,1698,1699,1700,1701,1702,1703,1704,1705,1706,1707,1708,1725,1726,1727,1728,1729,1743,1815,1816,1817,1818,1823,1824,1830,1831,1844,1845,1846,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMAWDP6_FTNFT_POOLED_SUPP,OMAWDP8_FTNFT_POOLED_SUPP,OMENRYP8_FTNFT_POOLED_SUPP,OMENRAP8_FTNFT_POOLED_SUPP,OMENRUP8_FTNFT_POOLED_SUPP,OMAWDP6_PTNFT_POOLED_SUPP,OMAWDP8_PTNFT_POOLED_SUPP,OMENRYP8_PTNFT_POOLED_SUPP,OMENRAP8_PTNFT_POOLED_SUPP,OMENRUP8_PTNFT_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,...,0.4694,0.5136,0.0034,0.1429,0.3401,0.3333,0.3333,0,0,0.6667
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,...,0.6117,0.624,0.0075,0.2166,0.1519,0.3642,0.4,0.0434,0.2755,0.2811
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,...,0.5503,0.5562,0.0059,0.4379,0,0.4429,0.4714,0.0429,0.4857,0
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu,finaid.uah.edu/,...,0.5456,0.5651,0.0123,0.2841,0.1385,0.3378,0.3547,0.0236,0.4257,0.1959
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,...,0.4105,0.429,0.0062,0.216,0.3488,0.2931,0.3103,0.0345,0.3966,0.2586

In [64]:
# Choose specific columns to display
data = odata[['INSTNM', 'CITY', 'STABBR', 'LONGITUDE', 'LATITUDE', 'MENONLY', 'WOMENONLY','ADM_RATE', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'UGDS']]
# made a sample of the orignal data set
ndata = data.sample(n = 1000)
ndata.head()

,INSTNM,CITY,STABBR,LONGITUDE,LATITUDE,MENONLY,WOMENONLY,ADM_RATE,TUITIONFEE_IN,TUITIONFEE_OUT,UGDS
4372,Mt. Diablo Adult Education-Mt. Diablo USD,Concord,CA,-122.026805,37.968852,0.0,0.0,NaN,NaN,NaN,122.0
7006,Washington State University-Vancouver,Vancouver,WA,NaN,NaN,NaN,NaN,NaN,9883.0,24515.0,NaN
5922,Remington College-Heathrow Campus,Lake Mary,FL,-81.359465,28.784765,0.0,0.0,NaN,11901.0,11901.0,241.0
3592,The University of Texas at Tyler,Tyler,TX,-95.254337,32.315772,0.0,0.0,0.6935,7602.0,20082.0,6473.0
1680,Dorsey Business Schools-Madison Heights,Madison Heights,MI,-83.107631,42.525318,0.0,0.0,NaN,19872.0,19872.0,374.0

In [69]:
map_osm = folium.Map(location=[39.29, -76.61], zoom_start=12)

noNaN = data.dropna(subset = ['LATITUDE', 'LONGITUDE'])

nonNna

,INSTNM,CITY,STABBR,LONGITUDE,LATITUDE,MENONLY,WOMENONLY,ADM_RATE,TUITIONFEE_IN,TUITIONFEE_OUT,UGDS
0,Alabama A & M University,Normal,AL,-86.568502,34.783368,0.0,0.0,0.8738,9366.0,17496.0,4616.0
1,University of Alabama at Birmingham,Birmingham,AL,-86.799345,33.505697,0.0,0.0,0.5814,8040.0,18368.0,12047.0
2,Amridge University,Montgomery,AL,-86.174010,32.362609,0.0,0.0,NaN,7180.0,7180.0,293.0
3,University of Alabama in Huntsville,Huntsville,AL,-86.640449,34.724557,0.0,0.0,0.7628,9842.0,20612.0,6346.0
4,Alabama State University,Montgomery,AL,-86.295677,32.364317,0.0,0.0,0.4590,9220.0,16156.0,4704.0
5,The University of Alabama,Tuscaloosa,AL,-87.545978,33.211875,0.0,0.0,0.5259,10470.0,26950.0,31663.0
6,Central Alabama Community College,Alexander City,AL,-85.945266,32.924780,0.0,0.0,NaN,4380.0,7890.0,1492.0
7,Athens State University,Athens,AL,-86.964698,34.806793,0.0,0.0,NaN,NaN,NaN,2888.0
8,Auburn University at Montgomery,Montgomery,AL,-86.177544,32.367360,0.0,0.0,0.7659,9640.0,20710.0,4171.0
9,Auburn University,Auburn,AL,-85.488258,32.599378,0.0,0.0,0.8054,10696.0,28840.0,22095.0
10,Birmingham Southern College,Birmingham,AL,-86.850552,33.513774,0.0,0.0,0.4839,34448.0,34448.0,1289.0
11,Chattahoochee Valley Community College,Phenix City,AL,-85.031485,32.423910,0.0,0.0,NaN,4254.0,7764.0,1424.0
12,Concordia College Alabama,Selma,AL,-87.019145,32.425647,0.0,0.0,0.2363,10320.0,10320.0,340.0
13,South University-Montgomery,Montgomery,AL,-86.216488,32.342684,0.0,0.0,NaN,17306.0,17306.0,394.0
14,Enterprise State Community College,Enterprise,AL,-85.836956,31.297496,0.0,0.0,NaN,4380.0,7890.0,1357.0
15,Coastal Alabama Community College,Bay Minette,AL,-87.778193,30.851343,0.0,0.0,NaN,4380.0,7890.0,4189.0
16,Faulkner University,Montgomery,AL,-86.216410,32.384181,0.0,0.0,0.4538,20130.0,20130.0,2297.0
17,Gadsden State Community College,Gadsden,AL,-85.991438,33.994001,0.0,0.0,NaN,3264.0,6072.0,4540.0
18,New Beginning College of Cosmetology,Albertville,AL,-86.196931,34.278710,0.0,0.0,NaN,NaN,NaN,82.0
19,George C Wallace Community College-Dothan,Dothan,AL,-85.465836,31.315274,0.0,0.0,NaN,4320.0,7830.0,3904.0
20,George C Wallace State Community College-Hance...,Hanceville,AL,-86.781935,34.072439,0.0,0.0,NaN,4380.0,7890.0,4857.0
21,George C Wallace State Community College-Selma,Selma,AL,-87.013294,32.445917,0.0,0.0,NaN,4080.0,7590.0,1397.0
22,Herzing University-Birmingham,Birmingham,AL,-86.832465,33.468466,0.0,0.0,0.9747,13390.0,13390.0,481.0
23,Huntingdon College,Montgomery,AL,-86.284366,32.351034,0.0,0.0,0.5676,25800.0,25800.0,1140.0
24,Heritage Christian University,Florence,AL,-87.663051,34.856153,0.0,0.0,0.3333,9792.0,9792.0,50.0
25,J. F. Drake State Community and Technical College,Huntsville,AL,-86.572885,34.771858,0.0,0.0,NaN,4350.0,7860.0,794.0
26,J F Ingram State Technical College,Deatsville,AL,-86.392369,32.582312,0.0,0.0,NaN,4896.0,4896.0,446.0
27,Jacksonville State University,Jacksonville,AL,-85.765321,33.822938,0.0,0.0,0.5308,7500.0,14700.0,6714.0
28,Jefferson Davis Community College,Brewton,AL,-87.085340,31.101254,0.0,0.0,NaN,4088.0,7598.0,955.0
29,Jefferson State Community College,Birmingham,AL,-86.707233,33.652535,0.0,0.0,NaN,4440.0,7950.0,7256.0
...,...,...,...,...,...,...,...,...,...,...,...
6707,Ross Medical Education Center-Lafayette,Lafayette,IN,-86.845131,40.388490,0.0,0.0,NaN,NaN,NaN,76.0
6708,Ross Medical Education Center-Midland,Midland,MI,-84.258017,43.641877,0.0,0.0,NaN,NaN,NaN,73.0
6709,Paul Mitchell the School-Webster,Webster,TX,-95.126497,29.527723,0.0,0.0,NaN,NaN,NaN,98.0
6710,Paul Mitchell the School-Nampa,Nampa,ID,-116.594823,43.613794,0.0,0.0,NaN,NaN,NaN,83.0
6711,Lil Lou's Beauty and Barber College-Portage,Portage,IN,-87.220751,41.550093,0.0,0.0,NaN,NaN,NaN,18.0
6712,National American University-Westwood Teach-Ou...,Aurora,CO,-104.822831,39.721320,0.0,0.0,NaN,NaN,NaN,74.0
6713,House of Heavilin Beauty College-Academy of Be...,Madison,WI,-89.490781,43.055410,0.0,0.0,NaN,NaN,NaN,24.0
6714,House of Heavilin Beauty College-Academy of Be...,Appleton,WI,-88.461527,44.266271,0.0,0.0,NaN,NaN,NaN,25.0
6715,House of Heavilin Beauty College-Academy of Be...,Green Bay,WI,-88.097926,44.523490,0.0,0.0,NaN,NaN,NaN,29.0
6716,Kenneth Shuler School of Cosmetology-Goose Creek,Goose Creek,SC,-80.065725,33.035472,0.0,0.0,NaN,NaN,NaN,108.0
6717,Clovis Community College,Fresno,CA,-119.731261,36.886860,0.0,0.0,NaN,1304.0,6944.0,5581.0
6718,Boca Beauty Academy-Parkland,Parkland,FL,-80.203872,26.321755,0.0,0.0,NaN,NaN,NaN,91.0
6719,American Beauty Academy-West Valley Campus,West Valley City,UT,-111.938189,40.692128,0.0,0.0,NaN,NaN,NaN,36.0
6720,The College of Health Care Professions-McAllen...,McAllen,TX,-98.234872,26.239856,0.0,0.0,NaN,NaN,NaN,291.0
6721,Chamberlain University-North Carolina,Charlotte,NC,-80.931971,35.137660,0.0,0.0,1.0000,19230.0,19230.0,90.0
6722,Chamberlain University-California,Rancho Cordova,CA,-121.278258,38.596193,0.0,0.0,0.0000,19230.0,19230.0,59.0
6723,Spartan College of Aeronautics and Technology,Riverside,CA,-117.408335,33.990127,0.0,0.0,NaN,NaN,NaN,40.0
6724,Harris School of Business-Danbury,Danbury,CT,-73.450097,41.393250,0.0,0.0,NaN,NaN,NaN,17.0
6725,Institute of Beauty Occupations and Technology...,San Sebastian,PR,-67.007092,18.335857,0.0,0.0,NaN,9900.0,9900.0,75.0
6726,Milan Institute-Bakersfield West,Bakersfield,CA,-119.038111,35.388152,0.0,0.0,NaN,NaN,NaN,78.0
6727,Kaplan University-Indianapolis,Indianapolis,IN,-86.109501,39.918440,0.0,0.0,NaN,14325.0,14325.0,472.0
6728,Kaplan University-Milwaukee,Milwaukee,WI,-87.913354,43.038608,0.0,0.0,NaN,14325.0,14325.0,350.0
6729,Pima Medical Institute-Dillon,Dillon,MT,-112.641211,45.208156,0.0,0.0,NaN,NaN,NaN,35.0
6730,Med-Life Institute-Kissimmee,Kissimmee,FL,-81.470044,28.323198,0.0,0.0,0.8438,NaN,NaN,132.0
6731,Arthur's Beauty College-Jonesboro,Jonesboro,AR,-90.681520,35.817823,0.0,0.0,NaN,NaN,NaN,71.0
6732,West Coast University-Center for Graduate Studies,Los Angeles,CA,-118.291310,34.081505,0.0,0.0,NaN,NaN,NaN,NaN
6733,Palm Beach Academy of Health & Beauty-Distinct...,Lauderhill,FL,-80.250914,26.178542,0.0,0.0,NaN,NaN,NaN,27.0
6734,Piedmont International University,Winston-Salem,NC,-80.250153,36.087962,0.0,0.0,0.3564,9650.0,9650.0,295.0
6735,Spartan College of Aeronautics and Technology,Westminster,CO,-105.009212,39.917028,0.0,0.0,NaN,31905.0,31905.0,85.0
6736,National Personal Training Institute-Tampa,Tampa,FL,-82.528321,28.026750,0.0,0.0,NaN,NaN,NaN,19.0